#!/usr/bin/env bash
# RNA-Seq analysis workflow
#
###################################
# Date:
# Name:
# Project:
###################################
#
# Please fill this config file along with the RNA-seq check list <<RNA-seq for Differential Expression>>
#
################ I. General ###############
WorkingDir="/.../"
SequencingMode="paired" # Or "single". 

# "unstranded": unstranded sequence
# "strand1": FRFS, i.e. counts for the 1st read strand aligned with RNA
# "strand2": FRSS, i.e. counts for the 2nd read strand aligned with RNA
Strandness="unstranded" # or "strand1", or "strand2"


################ II. Raw Data Storage ###############
RawDataDir="/../"

# A file name should be:
# For Single-end data: SampleName_SampleNumber.fq.gz. Do not change FileSuffix_1 and FileSuffix_2
# For Paired-end data: SampleName_SampleNumber_<1 or 2>.fq.gz <- Illumina standard
# If not, modify the suffix variable according to your files:
FileSuffix=".fq.gz" 
# For Single-end data: Do not change FileSuffix_1 and FileSuffix_2
FileSuffix_1="_1.fq.gz" # For paired data. 
FileSuffix_2="_2.fq.gz" # For paired data. 

################ III. Quality Assessment and Control ###############
totrimm="" # "yes" or "no", whether you want trimming step
adapter_file="/../Trimmomatic-0.39/adapters/<*.fa>"


################ IV. Mapping ###############
STARPath="STAR"
STARIndex="<STAR_idx>"
SpliceJunctionGTF="/.../<*.gtf>"


################ Usually no need to change ###############
# Other file paths
LinkDataDir=$WorkingDir"links/"
TempDir=$WorkingDir"temp/"
TrimmDir=$LinkDataDir"trimmed/"
OutputDir=$WorkingDir"out/"
# Codes
CountMatrix=$OutputDir"countmatrix.csv"
STARTransCode="STAR_transpose.py"

